@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
  margin:0;
  font-family: 'Monteserrat',sans-serif;
}


p,blockquote {
  font-size: .9rem;
  line-height: 1.6rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.container{
  text-align: center;
  padding: .8rem 1.2rem;
}

.logo {
  height: 10%;
  width: 10%
}

header{
  display: flex;
  justify-content : space-between; 
}

.hide-mobile{
  display:none;
}

.menu {
  height: .9rem;
  width: .9rem;
}
.exit-btn{
  height: 3em;
  width: 3em;
}
.server {
  width: 70%;
  margin: 2rem auto 2rem 25%
}

h1, .subheader {
  position: relative;
  z-index: 3;
}
.subheader{
  font-size: 0.8rem;
}

.blue-container {
  width: 100%;
  background: #00C2FF;
  color: beige;
  padding: 4em 0 2em auto;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container::before{
  content:"";
  height: 40px;
  width:40px;
  background-color:#00C2FF;  
  position: absolute;
  top:-39px;
  right:0;
  z-index: -2;
}

.blue-container::after{
  content:"";
  height: 80px;
  width:80px;
  background-color:#ffffff;
  z-index:-1;
  position: absolute;
  top:-80px;
  right:0;
  content:"";
  border-radius: 50%;
  
}

.blue-container  ul{
transform: skewY(2deg);
}

.blue-container  ul li{
  margin-bottom: 2rem;
}

.blue-container  ul li p{
  padding: .4rem auto;
}

.blue-container img {
  width: 14%;
}

/* .blue-container ul li:nth-child(2){
    width:100%;
  } */

.calender , .meeting {
  height: 20%;
  width:20%;
}

.gray-container{
  background-color: #F6f6f6;
  padding:4rem 0 2rem;
}

.gray-container ul li:first-child {
  margin-bottom: 2rem;
}

.gray-container img {
  width: 30%;
  border-radius: 50%
}
/* figure{
  margin:0;
  padding:0;
} */

figcaption{
  font-weight: bold;
}

.btn{
  background-color: #00CC80;
  width: calc(100% - 1rem);
  display: block;
  color:#fff;
  border-radius: 20px;
  padding:.5rem;
  text-decoration: none;
  z-index:4;
  position:relative;

}


.footer {
  width: 100%;
  background-color: #3D444a;
  color:#fff;
  padding: 3rem 0 2rem;
  border-top-right-radius: 40px;
  margin-top:1.7rem;
  transform :skewY(3deg);
}

.footer .container{
  transform :skewY(-3deg);
} 

/* .footer::before{
  content:'';
  width: 40px;
  height:40px;
  background-color: #3D444a;
  position: absolute;
  z-index: 2;
  top:-39px;
}

footer::after{
  content:'';
  width: 80px;
  height:80px;
  background-color:red;
  position: absolute;
  z-index: 1;
  left: 0;
  border-radius:50%;
  top: -80px;
} */


nav ul{
  position:fixed;
  width:60%;
  top:0;
  right:0;
  text-align:left;
  background: rgb(75, 77, 78);
  height:100%;
  z-index: 7;
  padding-top: 3;
}


nav ul li a {
  color:white;
  text-decoration: none;
  display:block;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgb(49,55,59);
  opacity: 0.7;
}

nav ul li a:hover{
  background-color: rgb(65,73,78);
}

.exit-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:#fff;
  text-align: right;
  width:95%;
  cursor:pointer;
}
.last-container {
    text-align: center;  
    padding: .8rem 1.2rem;
 }

@media only screen and (min-width:690px){
  .server{
    width:50%
  }
  .container {
    width:95%;
    margin:0 auto;
  }
  h1{
    font-size: 3rem;
    margin:0;
  }
  .subheader{
    font-size:1.4rem;
    margin-bottom: 14%;
  }
  .blue-container{
    margin:0;
  }

  .blue-container img{
    width:20%;
  }

  .blue-container ul{
    display:flex;
    margin:20px;
  }
  .blue-container ul li {
    width:50%;
    padding:2%;
  }

  .gray-container figure{
    width:100%;
  }

  .gray-container ul{
    display:flex;
    margin:20px;
  }

  .gray-container ul li {
    width:50%;
    padding:0;
    margin:0;
  } 

  .last-container {
    width:95%;
    display:flex;
    padding:1rem 0rem 1rem 0rem;

  }
  .last-container h2{
    width :400%;
    margin:auto;
  }
}