<div class="container">
  <header>
  <img src= "https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7a3ec529632909.55fc107b84b8c.png" alt="dummy logo" class="logo">
  
  <nav>
    <a href="#" class="hide">
      <img class="menu" id="menu" src="https://image.flaticon.com/icons/svg/462/462998.svg" alt="toggle menu">
    </a>
    <ul class="show hide-mobile" id="nav">
      <li id="exit"  class="exit-btn hide"> X </li>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
  </header>
  <section>
    <img src="https://theme.co/media/x_features/responsive-design-img.png" alt="server" class="server">
    <h1>Responsive web design pattern trying here</h1>
    <p class="subheader">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500


    </p>
  </section>
</div>
<div class="blue-container">
  <div class="container">
  <ul>
    <li>
      <img class="calender" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" alt="calender">
      <p>
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </li>
    <li>
      <img class ="meeting" src="https://image.flaticon.com/icons/svg/32/32441.svg" alt="meeting">
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>
    </li>
  </ul>
  </div>
</div>
<div class="gray-container">
  <div class="container">
    <ul>
      <li>
      <figure>
        <img id="user" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr0L7nr-Bt_AQ-JdR86Cf95Ea1ELS8Ux7b3UKO7fvfWtzHokd9aw" alt="user testomanial">
        <blockquote> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</blockquote>
        <figcaption>-Jane Doe</figcaption>
      </figure>
      </li>
      <li>
      <figure>
        <img id="user" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj-umq99fJrmJWrj-hQjOjKO-h1Tt7-aCcaOsojeAnb2Kj4bmxgw" alt="user testomanial">
        <blockquote> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</blockquote>
        <figcaption>-Jhon Doe</figcaption>
      </figure>
      </li>
    </ul>
  </div>
</div>
<div class="last-container">
  <h2>Start a free trail!</h2>
  <a href="#" class="btn"> Get Started</a>
</div>
<footer>
   <div class="footer">
     <div class="container">
      <a href="#" ><img src= "https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7a3ec529632909.55fc107b84b8c.png" alt="dummy logo" class="logo"></a>
    </div>
   </div>
</footer>